<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>Decoar</title>
</head>
<body>
    <form method="post" action="" class="form-index">
        <button type="button"> <i class="fab fa-elementor"></i> 
        <div class="flex-boton-fijo">
            <select>
                <option value=""></option>
                <option value="">carrito</option>
                <option value="">tarjeta</option>
                <option value="">efectivo</option>
            </select>
        </div></button>
    </form>

    <header>
        <%- include("./partials/header.ejs") %> 
    </header>
   
    <main clas= "main-index">
        <div class= "carrusel">
            <h4 class= "ofertas">OFERTAS TODO 20% OFF</h4>
            <ul class= "slide-menu">
                <li class="items">
                    <img  src= "/img/carruselv1.jpeg" width="100%" height="75%">
                </li>

                <li class="items">
                    <img  src= "/img/carruselv3.jpeg" width="100%" height="75%">
                </li>

                <li class="items">
                    <img  src= "/img/carruselv4.jpeg" width="100%" height="75%">
                </li>
            </ul>

        </div>
        <%- include("./partials/demostracion") %> 
        <section class="section-main">
            <ul>
                <li>
                    <a href="/productos/productosMuebles"><p class="categorias">Muebles</p></a>
                    <img class= "imagen" src= "/img/lamparaMimbre2.jpeg" alt="lampara" > 
                </li>
                <li>
                    <a href="/productos/productosIluminacion"><p class="categorias">Iluminacion</p></a>
                    <img class= "imagen" src= "/img/veladorMimbre.jpeg" alt="lampara" > 
                </li>
                <li>
                    <a href="/productos/demoDecoracion"><p>Decoracion</p></a>
                    <img class= "imagen" src= "/img/suculenta1.jpeg" alt="suculenta" > 
                </li>
                
                <li>
                    <a href="/productos/productosPlantas"><p class="categorias">Plantas</p></a>
                    <img class= "imagen" src= "/img/suculenta1.jpeg" alt="suculenta" > 
                </li>

            </ul>

            
        </section>
        <%- include("./partials/productosDestacados.ejs") %> 
    </main>
    <%- include("./partials/footer.ejs") %> 
</body>
</html>