<header>
    <div class= "header-flex"> 
        <img class="logo" src= "/img/logo2.jpg" alt="Logo">
    </div>
    <ul>
        <li>Nuestra Historia</li>
        <li>Terminos y condiciones</li>
    </ul>
        <%  if (locals.estaLogeado) {%> 

    <div class= "header-flex">
       
            <li> <button class="style-button"><a href="/logout">LOGOUT</a></button> </li>
           
            <li><a href="../profile">PROFILE</a></li>
            <br>
            <li class= "iconHeader"><i class="fas fa-shopping-cart"></i><a href="../carrito">CARRITO</a></li>
        </ul>
    </div>
    <% } else { %> 

    <div class= "linea">
        <input class="barra" type="text" name="busqueda"><i class="fas fa-search"></i></input>
        <nav >
            <ul class="lista-header">
                <li><i class="fas fa-user-check"></i><a href="../login">LOGIN</a></li>
                <li class= "iconHeader"><i class="fas fa-user-check"></i><a href="../registro">REGISTRO</a></li>
               
            </ul>
        </nav>
    
    </div>

    
        <% } %> 
    
    
</header>