<section >
    <h2 class = "tituloDestacado">PRODUCTOS DESTACADOS</h2>
    <div class = "productosDestacados">
    <article class= producArticle>
        <img src= "/img/urkoiluminacion.jpg", width="100%" >
        <div class = producDiv>
        <article>
            <p>LAMPARA ARCO</p>
            <p>20% off</p>
        </article>
        
            <i class="fas fa-shopping-cart"></i>
        </div>
    </article>

    <article class= producArticle>
        <img src= "/img/mesita.jpeg", width="100%" >
        <div class = producDiv>
        <article>
            <p>MESITA</p>
            <p>20% off</p>
        </article>
        
            <i class="fas fa-shopping-cart"></i>
        </div>
    </article>

    <article class= producArticle>
        <img src= "/img/plantadeinterior.jpg", width="100%" >
        <div class = producDiv>
        <article>
            <p>PLANTA INTERIOR</p>
            <p>20% off</p>
        </article>
        
            <i class="fas fa-shopping-cart"></i>
        </div>
    </div>
    </article>

</section>
    