<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>Decoar</title>
</head>
<body>
    <header>
        <div class= "header-flex"> 
            <img class="logo" src="/img/logo.png" alt="Logo">
            <nav class= "linea">
                <ul class="lista-header">
                    <li><i class="fas fa-user-check"></i><a href="/views/login.html">Login</a></li>
                    <li><i class="fas fa-shopping-cart"></i><a href="/views/carrito">Carrito</a></li>
                </ul>
            </nav>
        </div>
        <input class="barra" type="text" name="busqueda"></input>
        <a class="barra" href="#"><i class="fab fa-searchengin"></i></a>

    </header>
    
    <main>
        <img class="banner" src="/img/lamparas-decoracion-minimalista-.jpg" alt="Banners">
        <section>
            <ul>
                <li>
                    <p>Muebeles</p>
                    <img src= "/img/lamparaMimbre2.jpeg" alt="lampara" > 
                </li>
                <li>
                    <p>Iluminacion</p>
                    <img src= "/img/veladorMimbre.jpeg" alt="lampara" > 
                </li>
                <li>
                    <p>Sillones</p>
                    <img src= "/img/planta1.jpeg" alt="sillas" > 
                </li>
                <li>
                    <p>Plantas</p>
                    <img src= "/img/suculenta1.jpeg" alt="suculenta" > 
                </li>

            </ul>
        </section>
    </main>
    <footer>
        <nav>
            <ul>
                <li><a class="Icono-Footer"><i class="fas fa-home"></i>Home</a></li>
                <li><a class="Icono-Footer"><i class="fas fa-search"></i>Busqueda</a></li>
                <li><a class="Icono-Footer"><i class="fas fa-plus-square"></i>Noticias</li>
                <li><a class="Icono-Footer"><i class="fas fa-heart"></i>Likes</a></li>
                <li><a class="Icono-Footer"><i class="fas fa-user-circle"></i>Perfil</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>