<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head> 
<header>
    <img src="wireframes/Logo2.png" alt="Logo">
    <nav>
        <ul>
            <li>Barra de navegación</li>
            <li>2Barra de navegación</li>
        </ul>
    </nav>
</header>
<body>  
    <section>
        <h2>¡Bienvenido!</h2>
        <h3 class="accesos">Email</h3>
        <p>Ingresá tu dirección de email</p>
        <h3 class="accesos">Contraseña</h3>
        <p>ingresá tu conraseña</p>
        <h2>Ingresá</h3>
        <h5>¿Olvidaste tu contraseña?</h5>
    </section>
<footer>
    <p><a href="link sección 1">sección 1</a></p>
    <p>sección 2</p>
    <p>sección 3</p>
    <p>sección 4</p>
</footer>
</body>
</html>