<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css"> 
    <title>Login</title>
</head>
<body>  
    <header>
        <div class= "header-flex">
            <img class="logo" src="/img/logodecoar.jpg" alt="Logo">
            <nav class= "linea">
                <ul class="lista-header">
                    <li><i class="fas fa-user-check"></i><a href="/views/login.html">Login</a></li>
                    <li><i class="fas fa-shopping-cart"></i><a href="/views/carrito">Carrito</a></li>
                </ul>
            </nav>
        </div>
        <input class="barra" type="text" name="busqueda"></input>
        <a class="barra" href="#"><i class="fab fa-searchengin"></i></a>
    </header>
    <main id="main-content">
        <section>
            <h2>Muebles</h2>
            <div>
                <article>
                    <img
                        src="/img/Sillon.jpg"
                        alt=""
                        width="50%"
                    />
                    <div>
                        <p>Sillon</p>
                        <p>$50.000</p>
                    </div>
                </article>
                <article>
                    <img
                        src="/img/SillonIndividual.jpg"
                        alt=""
                        width="50%"
                    />
                    <div>
                        <p>Sillon Individual</p>
                        <p>$35.000</p>
                    </div>
                </article>
                <article>
                    <img
                        src="/img/mesaRatona.jpg"
                        alt=""
                        width="50%"
                    />
                    <div>
                        <p>Set Mesa Ratona</p>
                        <p>$13.000</p>
                    </div>
                </article>
            </div>
        </section>
    </main>
</body>
</html>
