<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css"> 
    <link rel="stylesheet" href="/css/styleProductos.css"> 
    

    <title>Iluminacion</title>
</head>
<body>  
    <header>
        <div class= "header-flex">
            <img class="logo" src="/img/logodecoar.jpg" alt="Logo">
            <nav class= "linea">
                <ul class="lista-header">
                    <li><i class="fas fa-user-check"></i><a href="/views/login.html">Login</a></li>
                    <li><i class="fas fa-shopping-cart"></i><a href="/views/carrito">Carrito</a></li>
                </ul>
            </nav>
        </div>
        <input class="barra" type="text" name="busqueda"></input>
        <a class="barra" href="#"><i class="fab fa-searchengin"></i></a>
    </header>

<main id="main-content">
    <section class="style-section">
        <h2 class ="title">ILUMINACION</h2>
            <article class="product-wrapper">
                <div class ="image-container"> 
                    <img
                        class="style-img"
                        src="/img/veladorMimbre.jpeg"
                        alt=""
                    />
                </div>
                
                <div class ="description-container"> 
                    <div> 
                        <p class="style-title">Velador Mimbre</p>
                        <p class="style-description"> DESCRIPCION: <br>
                            Velador de mimbre color arena. Conexion cableado para tomacorriente. Enchufe de dos patas.
                            Medidas: 30 cm ancho por 50 cm alto.
                            Observaciones: El producto viene sin lampara.
                        </p>
                        <p class= "style-price">$ 1.500</p>
                    </div>
                    <div class= "style-button">
                        <a href= "/carrito.html">COMPRAR</a>
                    </div>
                </div>
            </article>

            <article class="product-wrapper">
                <div class ="image-container"> 
                    <img
                        class="style-img"
                        src="/img/lamparamimbre.jpeg"
                        alt=""
                    />
                </div>
                
                <div class ="description-container"> 
                     <div>
                        <p class="style-title">Lampara de Mimbre</p>
                        <p class="style-description"> DESCRIPCION: <br>
                            Lampara de mimbre color arena. Conexion cableado para tomacorriente.
                            Medidas: 30 cm ancho por 50 cm alto.
                            Observaciones: El producto viene sin lampara.
                        </p>
                        <p class= "style-price">$ 3.000</p>
                    </div>
                    <div class= "style-button">
                        <a href= "/carrito.html">COMPRAR</a>
                    </div>
                </div>
            </article>

            <article class="product-wrapper">
                <div class ="image-container"> 
                    <img
                        class="style-img"
                        src="/img/veladorhierro.jpeg"
                        alt=""
                    />
                </div>
                
                <div class ="description-container"> 
                    <div>
                        <p class="style-title">Velador de Hierro</p>
                        <p class="style-description"> DESCRIPCION: <br>
                            Velador de hierro en color negro. Conexion cableado para tomacorriente. Enchufe de dos patas
                            Medidas: 30 cm ancho por 50 cm alto.
                            Observaciones: El producto viene sin lampara.
                        </p>
                        <p class= "style-price">$ 2.000</p>
                     </div>
                     <div class= "style-button">
                        <a href= "/carrito.html">COMPRAR</a>
                    </div>
                </div>
            </article>
            <article class="product-wrapper">
                <div class ="image-container"> 
                    <img
                        class="style-img"
                        src="/img/LamparaHierro.jpg"
                        alt=""
                    />
                </div>
                
                <div class ="description-container"> 
                    <div>
                        <p class="style-title">Lampara de Hierro</p>
                        <p class="style-description"> DESCRIPCION: <br>
                            Lampara de hierro color negro. Conexion cableado para tomacorriente.
                            Medidas: 30 cm ancho por 50 cm alto.
                            Observaciones: El producto viene sin lampara.
                        </p>
                        <p class= "style-price">$ 4.000</p>
                    </div>
                    <div class= "style-button">
                        <a href= "/carrito.html">COMPRAR</a>
                    </div>
                </div>
            </article>
        </section>
    </main>
</body>
</html>
