<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css"> 
    <link rel="stylesheet" href="/css/styleProductos.css"> 
    <title>MUEBLES</title>
</head>
<body>  
    <header>
        <div class= "header-flex">
            <img class="logo" src="/img/logodecoar.jpg" alt="Logo">
            <nav class= "linea">
                <ul class="lista-header">
                    <li><i class="fas fa-user-check"></i><a href="/views/login.html">Login</a></li>
                    <li><i class="fas fa-shopping-cart"></i><a href="/views/carrito">Carrito</a></li>
                </ul>
            </nav>
        </div>
        <input class="barra" type="text" name="busqueda"></input>
        <a class="barra" href="#"><i class="fab fa-searchengin"></i></a>
    </header>
    <main id="main-content">
        <section class="style-section">
            <h2 class ="title">MUEBLES</h2>
                <article class="product-wrapper">
                    <div class ="image-container"> 
                        <img
                            class="style-img"
                            src="/img/Sillon.jpg"
                            alt=""
                        />
                    </div>
                    
                    <div class ="description-container"> 
                        <div> 
                            <p class="style-title">SILLON</p>
                            <p class="style-description"> DESCRIPCION: <br>
                                Sillon de diseño. Tamaño: 3 cuerpos. Hecho en pana.
                            </p>
                            <p class= "style-price">$ 60.000</p>
                        </div>
                        <div class= "style-button">
                            <a href= "/carrito.html">COMPRAR</a>
                        </div>
                    </div>
                </article>
    
                <article class="product-wrapper">
                    <div class ="image-container"> 
                        <img
                            class="style-img"
                            src="/img/SillonIndividual.jpg"
                            alt=""
                        />
                    </div>
                    
                    <div class ="description-container"> 
                         <div>
                            <p class="style-title">SILLON INDIVIDUAL</p>
                            <p class="style-description"> DESCRIPCION: <br>
                               Sillon individual de diseño. Hecho en pana
                            </p>
                            <p class= "style-price">$ 35.000</p>
                        </div>
                        <div class= "style-button">
                            <a href= "/carrito.html">COMPRAR</a>
                        </div>
                    </div>
                </article>
    
                <article class="product-wrapper">
                    <div class ="image-container"> 
                        <img
                            class="style-img"
                            src="/img/mesaRatona.jpg"
                            alt=""
                        />
                    </div>

                    <div class ="description-container"> 
                        <div>
                            <p class="style-title">Set de mesas ratonas</p>
                            <p class="style-description"> DESCRIPCION: <br>
                                Set de dos mesas ratonas. Madera paraiso con tapa simil marmol blanco.
                            </p>
                            <p class= "style-price">$ 20.000</p>
                         </div>
                         <div class= "style-button">
                            <a href= "/carrito.html">COMPRAR</a>
                        </div>
                    </div>
            </section>
    </main>
</body>
</html>
