*{
    font-family:sans-serif;
    color: rgb(31, 25, 17);
    margin: 0 auto;
}

section{
    height: 100%;
}

.logo{
    width: 15%;
    padding-top: 5%;
}

.logo-div{
    text-align: center;
}

.bloque {
    padding: 15px;

    padding-left: 25%;
}

.bloque-cat{
    display: block;
    padding-left: 25%;
    padding-top: 10px;
}

h1{
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
}

h3{
    padding-left: 25%;
    margin: 0 auto;
    padding-top: 15px;
}

.boton{
    margin-left: 40%;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 6px;
    font-weight: bold;
}

.label-boton{
    display: block;
    font-weight: bold;
    padding-bottom: 5px;
}

#Imagen{
    width: 65%;
    color: transparent;
}

.label-edit{
    font-weight: bold;
    font-size:small;
}
