* {
    /*estilos de la pagina en general*/
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: black;
}
body{
    background-image: linear-gradient(to right top, #f0e3d8, #f0cfb5, #eebb92, #eba772, #e79252);
    font-size:20px
}
/*form es la caja del boton de menu fijo desplegable*/
.form-index{
    position: fixed;
    right: 15px;
    top: 50px;
    margin: 2px 2px;
    background: rgba(255, 255, 255, 0.01);
}


.carrusel{
    margin:auto;
    overflow:hidden;
}

.ofertas {
    color: black;
    background-color: transparent;
    position: absolute;
    margin: 0;
    padding: 0;
}
.slide-menu {
    display: flex;
    padding: 0;
    width: 300%;

    height:100%;
    animation:cambio 12s infinite;
}

.items{
    list-style: none;
}
.categorias{
    margin-left: 15px;
}

li{
    list-style: none;
}


@keyframes cambio {
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;
    }

    35% {
        margin-left: -100%;
    }
    70% {
        margin-left: -100%;
    }

    75% {
        margin-left: -200%;
    }
    100% {
        margin-left: -200%;
    }
}

/*es es el icono del boton del menu fijo desplegable*/
.fa-elementor {
    padding: 0;
    margin: 2px 2px;
    font-size: 60px;
    background: rgba(255, 255, 255, 0.01);
    color: gray;
    width: 100%;
}
.flex-boton-fijo {
    display: flex;
    flex-direction: column;
}
select {
    display: none;
}

/*recuadro para el header del body*/
header {
    border: 1px solid rgba(180, 180, 180, 0.3);
    padding: 20px;
    margin: 0;
}

/* class del encabezado dentro del body para flexbox*/
.header-flex {
    display: flex;
    flex-wrap: wrap;

}

/*logo de la pagina*/
.logo {
    padding: 0px;
    padding-bottom: 5px;
    width: 60%;
}
.barraBusqueda{
    width: 100%;
    height: 100%;
}


/* clase creada para el nav del header*/
.linea {
    font-size: 20px;
    width: 100%;
    height: auto;
    padding: 0 0 0 7%;
    display: flex;
}

.lista-header {
    display: flex;
    flex-direction: row;
    font-size:  16px;
    width: 100%;
    padding-top: 15px;
}
.liconos{
    
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    
}
li.liconos{
    visibility: hidden;
}

.section-main .imagen{
    box-shadow: 5px 5px 5px 5px #e79252;
}

.iconHeader{
    margin-left:10px ;
}
.fa-whatsapp-square{
    margin-left: 15px;
    color:green;
}
.fa-twitter-square{
    margin-left: 15px;
    color: lightskyblue
}
.fa-envelope{
    margin-left: 15px;
    color: white;
}
.fa-instagram-square{
    margin-left: 15px;
    color: palevioletred
}
.fa-facebook-square{
    margin-left: 15px;
    color: blue
}
/*clase creada para el imput de busqueda*/
.barra {
    width: 50%;
    height:100%;
    
    background-color: whitesmoke;
}

/*class para los link login y carrito*/
.lista-header {
    list-style: none;
}


/* esta img hace referencia a todas las imagenes de muestras
de los mubles sillones etc*/
.imagen {
    width: 90%;
    height: 90%;
    padding: 5%;
    margin: 0;
}

.Desmostracion{
    display: none;
}

/*media query para la version de tablet en adelante*/
@media (min-width: 479px) {
    .section-main {
        display: flex;
        flex-wrap: wrap;
    }
    .section-main ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .section-main li {
        flex-direction: row;
        margin: 0;
        padding: auto;
        width: 45%;
    }

    .navbar-footer ul {
        font-size: 16px;
    }
    .section-carrito {
        display: flex;
        flex-direction: row;
    }
    .form-index{
        position: fixed;
        right: 25px;
        top: 55px;
        margin: 2px 2px;
        background: rgba(255, 255, 255, 0.01);
    }

    .lista-header{
        margin: 0 15px;
        justify-content:space-between;
    }
}
@media (min-width: 768px){
    .lista-header{
        margin: 0 40px;
        justify-content:space-between;
        font-size: larger;
    }

    li.liconos{
        visibility:visible;
    }
    .iconFooter{
        visibility:hidden;
    }
    .Desmostracion{
        display: block;
        border-top: #e79252 solid 7px;
       
    }
    .tituloDemostracio{
        font-size:10px;
        
    }
    .listaDemostracion {
        display: flex;
        flex-direction: row;
        margin: 20px 0;
        border-bottom: #e79252 solid 7px;
        justify-content: center;
    }
    .itemDemostracion{
        margin-left: 40px;
    }

    .form-index{
        position: fixed;
        right: 30px;
        top: 60px;
        margin: 2px 2px;
        background: rgba(255, 255, 255, 0.01);
    }
}


@media (min-width: 1024px){
    body {
        font-size:30px;
    }
    img.logo{
        width:20%;
        height: 20%;
    }
    .liconos{
        width: 65%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
    }
    li.items {
        width: 100%;

    }
    body{
        background-image: linear-gradient(to right top, #f0e3d8, #f0cfb5, #eebb92, #eba772, #e79252);
    margin: 0 15%;
    }
    
    }
    .section-main .imagen{
        box-shadow: 10px 10px 10px 10px #e79252;}

    .form-index{
        display:none;
    }

