*{
    font-family: sans-serif;
}

header{
    background-image: linear-gradient(to right top, #f0e3d8, #f0cfb5, #eebb92, #eba772, #e79252);
}
footer{
    background-image: linear-gradient(to right top, #f0e3d8, #f0cfb5, #eebb92, #eba772, #e79252);
}

main{
    height: 100%;
    padding: 10px;
    background-image: url(/img/carrucel-jardin.jpg);
    background-size: cover;
    color: rgb(24, 24, 24);
    background-color: #f0dbcb;
}

.section-style{
    height: 100%;
    text-align: center;
    border-radius: 5px;
}

.div-style{
    padding: 20px;
}

label{
    display: block;
    text-align: left;
    padding-bottom: 5px;
}

.label-term{
    font-size: medium;
    display: inline;
    text-align: center;
}

input{
    border-right: none;
    border-top: none;
    border-left: none; 
}

.button-style{
    width: 40%;
}

h4{
    padding: 10px;
}



@media (min-width: 479px) {

    *{
        font-size:x-large;
    }
}