.style-img-carr {
    border-radius: 360px;
    margin-left: 20px;
}
.flex-header {
    display: flex;
    flex-wrap: wrap;
}

.image-container {
    width: 40%;
    height: 100%;
    margin-bottom: 10px;
    text-align: center;
    background-color: transparent;
    justify-content: center;
}
.product-wrapper {
    border: 1px solid #ebebeb;
    padding: 10px;
}
.style-title {
    margin-left: 15px;
    font-size: 35px;
    text-decoration-style: double;
    text-align: left;
}
.subtitle {
    margin-left: 15px;
    text-decoration-style: double;
    text-align: left;
}

.style-button {
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-self: flex-end;
    background-color: rosybrown;
    border: 0;
}
.style-button-delete {
    margin-top: 2px;
    display: block;
}
.style-text {
    display: flex;
    padding-top: 35px;
    padding-right: 5px;
    margin-bottom: 12px;
}
.style-text-button {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
}
.product {
    padding: 15px;
}
.flex {
    display: flex !important;
    flex-wrap: wrap;
}
