<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Producto</title>
    <link rel="stylesheet" href="/css/editProductos.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"rel="stylesheet">
</head> 

<body>
    <header>
        <div class="logo-div"> 
            <img class="logo" src= "/img/logodecoar.jpg" alt="Logo">
        </div>     
    </header>
    <main>
        <section>
            <h1>Editar producto</h1>
            <form method="POST">
                <div class="bloque">
                    <label for="Nombre del producto" class="label-edit">¿Qué producto qerés modificar?</label>
                    <input name="Nombre del producto" type="text" id="Nombre del producto" placeholder="Nombre del producto">
                </div>
                <div>
                    <h3>Categoría</h3>
                    <div class="bloque-cat">
                        <input name="Iluminación" type="checkbox" id="Categoría"><label>Iluminaria</label>
                    </div>
                    <div class="bloque-cat">
                        <input name="Muebles" type="checkbox" id="Categoría"><label>Muebles</label>
                    </div>
                    <div class="bloque-cat">
                        <input name="Plantas" type="checkbox" id="Categoría"><label>Plantas</label>
                    </div>
                </div>
                <div class="bloque">
                    <label for="Descripción" class="label-edit">Completá la nueva descripción</label>
                    <input name="Descripción" type="text" id="Descripción" placeholder="Descripción">
                </div>
                <div class="bloque">
                    <label for="Precio" class="label-edit">¿Cuál es el precio?</label>
                    <input name="Precio" type="number" id="Precio" placeholder="Precio">
                </div>
                <div class="bloque">
                    <label class="label-boton"for="Imagen">Imágenes del producto</label>
                    <input name="Imagen" type="file" id="Imagen" accept="image/png, image/jpeg">
                </div>
            </form>
            <button class="boton"><a href="nuevoProducto">CARGAR</a></button>
        </section>
    </main>  
    
    <footer class="footer-pie-pagina background-page">
    </footer>
</body>
</html>