<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/styleforms.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"rel="stylesheet">
</head> 

<body>
    <header>
        <div class= "header-flex"> 
            <img class="logo" src= "/img/logodecoar.jpg" alt="Logo">
       
            <ul>
                <li>QUIENES SOMOS</li>
                <li>TERMINOS Y CONDICIONES</li>
            </ul>
        </div>
            <input class="barra" type="text" name="busqueda"><i class="fas fa-search"></i></input>
            
    </header>
    <main>
        <section class="section-style">
            <h2>¡Bienvenido!</h2>
            
            <form method="POST">
                <div class="div-style">
                    <label for="email"></label>
                    <input name="email" type="text" id="email" placeholder="Email"
                    value = <%= locals.oldData ? oldData.email : null %>>
                    <% if (locals.errors && errors.email) { %> 
                        <div> <%= errors.email.msg %> </div>
                        <% } %> 
                </div>
                <div class="div-style">
                    <label for="contraseña"></label>
                    <input name="contraseña" type="password" id="contraseña" placeholder="Contraseña">
                    <% if (locals.errors && errors.contraseña) { %> 
                        <div> <%= errors.contraseña.msg %> </div>
                        <% } %> 
                </div>
                <div class="terminosYCondiciones">
                    <input type="checkbox" name="term" id="term" class="label-term">
                    <label for="term" class="label-term"><a href="#">Recordar usuario y contraseña</a></label>
                </div>
                <div class="div-style">
                    <button class="button-style">Ingresá</button>
                </div>
            </form>
            <h5><a href="#">¿Olvidaste tu usuario o contraseña?</a></h5>
            <h4><a href="/registro">REGISTRATE</a></h4>
        </section>
    </main>  
    <footer>
        <%- include("./partials/footer.ejs") %>
    </footer>
</body>
</html>