<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/styleforms.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"rel="stylesheet">
   
</head> 

<body>
    <header>
        <div class= "header-flex"> 
            <img class="logo" src= "/img/logodecoar.jpg" alt="Logo">
       
            <ul>
                <li>QUIENES SOMOS</li>
                <li>TERMINOS Y CONDICIONES</li>
            </ul>
        </div>
            <input class="barra" type="text" name="busqueda"><i class="fas fa-search"></i></input>
           
    </header>
    <main>
        <section class="section-style">
            <h2>Completá tus datos</h2>
            <form action= "" method="POST" enctype="multipart/form-data">
                <div class="div-style">
                    <label for="Nombre"></label>
                    <input name="Nombre" type="text" id="Nombre" placeholder="Nombres">
                </div>
                <div class="div-style">
                    <label for="Apellido"></label>
                    <input name="Apellido" type="text" id="Apellido" placeholder="Apellido">
                </div>
                <div class="div-style">
                    <label for="Dirección"></label>
                    <input name="Dirección" type="text" id="Dirección" placeholder="Dirección">
                </div>
                <div class="div-style">
                    <label for="Edad"></label>
                    <input name="Edad" type="number" id="Edad" placeholder="Edad">
                </div>
                <div class="div-style">
                    <label for="Email"></label>
                    <input name="Email" type="email" id="Email" placeholder="Email">
                </div>
                 <div class="terminosYCondiciones">  
                     <h3>Categoría</h3>
                    <div class="bloque-cat">
                        <input name="category" type="radio" id="Administrador"
                        value ="Administrador"><label>Administrador</label>
                    </div>
                    <div class="bloque-cat">
                        <input name="category" type="radio" id="Usuario"
                        value ="Usuario"><label>Usuario</label>
                    </div>
                </div>
                <div class="div-style">
                    <label class="div-style"for="img">Mi foto de perfil</label>
                    <input name="img" type="file" id="img" accept="image/png, image/jpeg">
                </div>
                <div class="div-style">
                    <label for="contraseña"></label>
                    <input name="contraseña" type="password" id="contraseña" placeholder="Contraseña">
                </div>
                <div class="div-style">
                    <label for="repetirContraseña"></label>
                    <input name="repetirContraseña" type="password" id="repetirContraseña" placeholder="Repetir contraseña">
                </div>
                <div class="terminosYCondiciones">
                    <input type="checkbox" name="term" id="term" class="label-term">
                    <label for="term" class="label-term"><a href="#">Acepto términos y condiciones</a></label>
                </div>
                <div class="div-style">
                    <button class="button-style">Registrate</button>
                </div>
            </form>
        </section>
    </main>  
    
    <%- include('./partials/footer') %>
</body>
</html>