<footer >
    <div class = "iconFooter"><i class="fab fa-whatsapp-square"></i>
    <i class="fab fa-twitter-square"></i>
    <i class="far fa-envelope"></i>
    <i class="fab fa-instagram-square"></i>
    <i class="fab fa-facebook-square"></i></div>

    <div>
        <H2>CONTACTOS</H2>
            <ul>
                <li><p>TELEFONO: 011 75368987</p></li>
                <li><P>MAIL: DECOAR@GMAIL.COM</P></li>
                <li><p>DIRECCION: CALLE FALSA 123</p></li>
            </ul>
    </div>
</footer>