<header>
    <div class= "header-flex"> 
        <img class="logo" src= "/img/logodecoar.jpg" alt="Logo">
        <nav class= "linea">
            <ul class="lista-header">
                <li><i class="fas fa-user-check"></i><a href="/Login">Login</a></li>
                <li><i class="fas fa-user-check"></i><a href="/Registro">Registrar</a></li>
                <li><i class="fas fa-shopping-cart"></i><a href="/Carrito">Carrito</a></li>
                <li class= "liconos"><div class =  "icono-header" ><i class="fab fa-whatsapp-square"></i>
                    <i class="fab fa-twitter-square"></i>
                    <i class="far fa-envelope"></i></div></li>
            </ul>
        </nav>
        
    </div>
    <a class="barra" href="#"><i class="fab fa-searchengin"></i></a>
    <input class="barra" type="text" name="busqueda"></input>
</header>