<header class="background-page">
    <div class= "header-flex"> 
        <nav class= "linea">
            <ul class="lista-header">
                <li><i class="fas fa-shopping-cart"></i><a href="/Carrito">Carrito</a></li>
            </ul>
        </nav>
        <img class="logo" src= "/img/logodecoar.jpg" alt="Logo">
    </div>
</header>
