<header>
    <div class= "header-flex"> 
        <img class="logo" src= "/img/logodecoar.jpg" alt="Logo">
   
        <ul>
            <li>QUIENES SOMOS</li>
            <li>TERMINOS Y CONDICIONES</li>
        </ul>
    </div>
        <input class="barra" type="text" name="busqueda"><i class="fas fa-search"></i></input>
        <nav class= "linea">
            <ul class="lista-header">
                <li><i class="fas fa-user-check"></i><a href="../login">LOGIN</a></li>
                <li class= "iconHeader"><i class="fas fa-user-check"></i><a href="../registro">REGISTRO</a></li>
                <li class= "iconHeader"><i class="fas fa-shopping-cart"></i><a href="../carrito">CARRITO</a></li>
            </ul>
        </nav>
        
    
    
</header>