<header>
    <div class= "header-flex"> 
        <img class="logo" src= "/img/logodecoar.jpg" alt="Logo">
        
    <li class= "liconos">
        <i class="fab fa-whatsapp-square"><p>whatsapp</p></i>
        <i class="fab fa-twitter-square"><p>twitter</p></i>
        <i class="far fa-envelope"><p>Mail</p></i>
        <i class="fab fa-instagram-square"><p>instagram</p></i>
        <i class="fab fa-facebook-square"><p>facebook</p></i></li></div>
        <input class="barra" type="text" name="busqueda"><i class="fas fa-search"></i></input>
        <nav class= "linea">
            <ul class="lista-header">
                <li><i class="fas fa-user-check"></i><a href="/Login">Login</a></li>
                <li class= "iconHeader"><i class="fas fa-user-check"></i><a href="/Registro">Registrar</a></li>
                <li class= "iconHeader"><i class="fas fa-shopping-cart"></i><a href="/Carrito">Carrito</a></li>
            </ul>
        </nav>
        
    
    
</header>