<header>
    <div class= "header-flex"> 
        <nav class= "linea">
            <ul class="lista-header">
                <li><i class="fas fa-user-check"></i><a href="/Login">Login</a></li>
                <li><i class="fas fa-shopping-cart"></i><a href="/Carrito">Carrito</a></li>
            </ul>
        </nav>
        <img class="logo" src= "/img/logodecoar.jpg" alt="Logo">
    </div>
    <a class="barra" href="#"><i class="fab fa-searchengin"></i></a>
    <input class="barra" type="text" name="busqueda"></input>
</header>